<?xml version="1.0"?>
<ruleset name="PHP Code Sniffer">
    <file>hezarfen-for-woocommerce.php</file>
    <file>includes</file>
    <file>packages</file>

    <rule ref="WordPress-Core"/>
    <rule ref="WordPress-Docs"/>
    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
    </rule>
    <rule ref="WordPress-VIP-Go"/>
</ruleset>