parameters:
	ignoreErrors:
		-
			message: "#^Function wp_enqueue_script invoked with 6 parameters, 1\\-5 required\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Autoload\\:\\:add_hezarfen_setting_page\\(\\) has parameter \\$settings with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Autoload\\:\\:add_hezarfen_setting_page\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Autoload\\:\\:load_admin_assets_files\\(\\) has no return type specified\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Parameter \\#5 \\$in_footer of function wp_enqueue_script expects bool, string given\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Property Hezarfen\\\\Inc\\\\Autoload\\:\\:\\$addon_notices type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Property Hezarfen\\\\Inc\\\\Autoload\\:\\:\\$addons type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Property Hezarfen\\\\Inc\\\\Autoload\\:\\:\\$packages type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_district_and_neighborhood_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_district_and_neighborhood_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_tax_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_tax_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:auto_sort_checkout_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:auto_sort_checkout_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:get_districts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:get_neighborhood_options\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:hide_postcode_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:hide_postcode_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_and_update_the_label\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_and_update_the_label\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_default_address_field\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_default_address_field\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:modify_tr_locale\\(\\) has parameter \\$locales with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:modify_tr_locale\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:override_billing_hez_identity_number\\(\\) should return string but returns bool\\|string\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:override_posted_data\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:override_posted_data\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:sort_address_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:sort_address_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_field_required_statuses_before_checkout_process\\(\\) has no return type specified\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_company\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_company\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_person\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_person\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Call to an undefined method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:setEncryptionKey\\(\\)\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:decrypt\\(\\) should return bool\\|string but return statement is missing\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:decrypt\\(\\) should return bool\\|string but returns WP_Error\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:encrypt\\(\\) should return bool\\|string but returns WP_Error\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#1 \\$length of function openssl_random_pseudo_bytes expects int, int\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, string\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#2 \\$offset of function substr expects int, int\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Constant HEZARFEN_ENCRYPTION_KEY not found\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\PostMetaEncryption\\:\\:is_encryption_key_generated\\(\\) has no return type specified\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\PostMetaEncryption\\:\\:setEncryptionKey\\(\\) should return bool\\|string but return statement is missing\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Admin\\\\OrderDetails\\:\\:add_tax_fields_to_order_details\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/order/OrderDetails.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Admin\\\\OrderDetails\\:\\:add_tax_fields_to_order_details\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/order/OrderDetails.php

		-
			message: "#^Method Hezarfen_Settings_Hezarfen\\:\\:get_sections\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Method Hezarfen_Settings_Hezarfen\\:\\:get_settings\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Method Hezarfen_Settings_Hezarfen\\:\\:output\\(\\) has no return type specified\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Variable \\$fields might not be defined\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Variable \\$health_check_status might not be defined\\.$#"
			count: 1
			path: includes/admin/settings/views/encryption.php

		-
			message: "#^Variable \\$test_the_key might not be defined\\.$#"
			count: 1
			path: includes/admin/settings/views/encryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Helper\\:\\:check_addons\\(\\) has parameter \\$addons with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-hezarfen-wc-helper.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Helper\\:\\:check_addons\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-hezarfen-wc-helper.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Helper\\:\\:checkout_select2_option_format\\(\\) has parameter \\$arr with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-hezarfen-wc-helper.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Helper\\:\\:checkout_select2_option_format\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-hezarfen-wc-helper.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Helper\\:\\:find_outdated\\(\\) has parameter \\$plugins with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-hezarfen-wc-helper.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Helper\\:\\:find_outdated\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-hezarfen-wc-helper.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Helper\\:\\:render_admin_notices\\(\\) has parameter \\$notices with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-hezarfen-wc-helper.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Mahalle_Local\\:\\:get_cities\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-mahalle-local.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Mahalle_Local\\:\\:get_districts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-mahalle-local.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Mahalle_Local\\:\\:get_neighborhoods\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/class-mahalle-local.php

		-
			message: "#^Undefined variable\\: \\$tr_cities$#"
			count: 1
			path: includes/class-mahalle-local.php

		-
			message: "#^Undefined variable\\: \\$tr_districts$#"
			count: 1
			path: includes/class-mahalle-local.php

		-
			message: "#^Undefined variable\\: \\$tr_neighborhoods$#"
			count: 2
			path: includes/class-mahalle-local.php

		-
			message: "#^Variable \\$tr_districts in isset\\(\\) is never defined\\.$#"
			count: 1
			path: includes/class-mahalle-local.php

		-
			message: "#^Variable \\$tr_neighborhoods in isset\\(\\) is never defined\\.$#"
			count: 1
			path: includes/class-mahalle-local.php

