parameters:
    level: 6
    paths:
        - hezarfen-for-woocommerce.php
        - includes
        - packages
    excludePaths:
        - includes/Data/mahalle/
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
