parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_wp_error\\(\\) with array will always evaluate to false\\.$#"
			count: 2
			path: includes/Ajax.php

		-
			message: "#^Function apply_filters invoked with 4 parameters, 2 required\\.$#"
			count: 1
			path: includes/Ajax.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Ajax.php

		-
			message: "#^Function wp_enqueue_script invoked with 6 parameters, 1\\-5 required\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Autoload\\:\\:add_hezarfen_setting_page\\(\\) has parameter \\$settings with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Autoload\\:\\:add_hezarfen_setting_page\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Autoload\\:\\:load_admin_assets_files\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Parameter \\#5 \\$in_footer of function wp_enqueue_script expects bool, string given\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Autoload.php

		-
			message: "#^Call to function is_wp_error\\(\\) with array\\|bool will always evaluate to false\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_district_and_neighborhood_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_district_and_neighborhood_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_tax_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:add_tax_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:auto_sort_checkout_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:auto_sort_checkout_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:get_districts\\(\\) never returns bool so it can be removed from the return typehint\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:get_districts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:hide_postcode_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:hide_postcode_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_and_update_the_label\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_and_update_the_label\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_default_address_field\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:make_address2_required_default_address_field\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:override_billing_hez_identity_number\\(\\) should return string but returns bool\\|string\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:override_posted_data\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:override_posted_data\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:sort_address_fields\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:sort_address_fields\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_field_required_statuses_before_checkout_process\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_company\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_company\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_person\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Checkout\\:\\:update_fields_required_options_for_invoice_type_person\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Parameter \\#1 \\$arr of function hezarfen_wc_checkout_select2_option_format expects array, array\\|bool given\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Parameter \\#1 \\$city_plate_number of static method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_districts\\(\\) expects int, string given\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Checkout.php

		-
			message: "#^Call to an undefined method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:setEncryptionKey\\(\\)\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:decrypt\\(\\) should return bool\\|string but return statement is missing\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:decrypt\\(\\) should return bool\\|string but returns WP_Error\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\Abstracts\\\\Abstract_Encryption\\:\\:encrypt\\(\\) should return bool\\|string but returns WP_Error\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#1 \\$length of function openssl_random_pseudo_bytes expects int, int\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#2 \\$data of function hash_hmac expects string, string\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#2 \\$start of function substr expects int, int\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int, int\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Parameter \\#5 \\$iv of function openssl_encrypt expects string, string\\|false given\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Data/Abstracts/Abstract_Encryption.php

		-
			message: "#^Constant HEZARFEN_ENCRYPTION_KEY not found\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\PostMetaEncryption\\:\\:is_encryption_key_generated\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Data\\\\PostMetaEncryption\\:\\:setEncryptionKey\\(\\) should return bool\\|string but return statement is missing\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Parameter \\#1 \\$str of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Data/PostMetaEncryption.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Data/ServiceCredentialEncryption.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Hezarfen_Install.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_api_token\\(\\) should return string\\|false but returns bool\\|string\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_cities\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_cities\\(\\) should return array but returns WP_Error\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_districts\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_districts\\(\\) should return array but returns WP_Error\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_neighborhoods\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Services\\\\MahalleIO\\:\\:get_neighborhoods\\(\\) should return array but returns WP_Error\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/Services/MahalleIO.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Admin\\\\OrderDetails\\:\\:add_tax_fields_to_order_details\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/order/OrderDetails.php

		-
			message: "#^Method Hezarfen\\\\Inc\\\\Admin\\\\OrderDetails\\:\\:add_tax_fields_to_order_details\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/order/OrderDetails.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/admin/order/OrderDetails.php

		-
			message: "#^Function apply_filters invoked with 3 parameters, 2 required\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Method Hezarfen_Settings_Hezarfen\\:\\:get_sections\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Method Hezarfen_Settings_Hezarfen\\:\\:get_settings\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Method Hezarfen_Settings_Hezarfen\\:\\:output\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Method Hezarfen_Settings_Hezarfen\\:\\:override_the_mahalle_io_apikey\\(\\) should return string but returns bool\\|string\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Variable \\$fields might not be defined\\.$#"
			count: 1
			path: includes/admin/settings/class-hezarfen-settings-hezarfen.php

		-
			message: "#^Variable \\$health_check_status might not be defined\\.$#"
			count: 1
			path: includes/admin/settings/views/encryption.php

		-
			message: "#^Variable \\$test_the_key might not be defined\\.$#"
			count: 1
			path: includes/admin/settings/views/encryption.php

		-
			message: "#^Function hezarfen_wc_checkout_select2_option_format\\(\\) has parameter \\$arr with no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/hezarfen-wc-helpers.php

		-
			message: "#^Function hezarfen_wc_checkout_select2_option_format\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: includes/hezarfen-wc-helpers.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: includes/hezarfen-wc-helpers.php

