.hezarfen-mst-tracking-info-wrapper {
	padding-bottom: 30px;
}

.hezarfen-mst-tracking-info-wrapper hr {
	margin: 15px 0;
	color: #e5e5e5;
}

.hezarfen-mst-tracking-info-wrapper p {
	margin-bottom: 10px;
}
