#checkout-sozlesmeler {
    margin-bottom:35px
}

#checkout-sozlesmeler .sozlesme-container {
    height:200px;overflow:auto;border:1px dashed #ddd;padding:15px;margin:15px 0px
}


.in-sozlesme-onay-checkbox {
    margin:0
}

.in-sozlesme-onay-checkboxes {
    margin-bottom:30px
}

.checkout-sozlesme-modal-buton {
    font-weight:600
}