.shipment-info .courier-company-select {
	width: 95%;
}

#hezarfen-mst-order-edit-metabox .shipment-info-form .courier-company-select-wrapper .select2-container {
	display: block;
}

/* select2 dropdown start */
.hezarfen-mst-courier-logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}

.hezarfen-mst-courier-logo-wrapper .hezarfen-mst-courier-logo {
	height: 30px;
	max-width: 105px;
	object-fit: contain;
}

.hezarfen-mst-courier-logo-wrapper .hezarfen-mst-courier-logo.hepsijet {
	height: 20px;
}

.hezarfen-mst-courier-logo-wrapper .hezarfen-mst-courier-logo.jetizz {
	height: 27px;
}

.hezarfen-mst-courier-logo-wrapper .hezarfen-mst-courier-logo.cdek {
	height: 22px;
}

.hezarfen-mst-courier-logo-wrapper .hezarfen-mst-courier-logo.fedex {
	height: 23px;
}
/* select2 dropdown end */
